{% block widget_export_button %}
    {% if exportable is defined and exportable %}
        <span
                class="lle-dashboard-widget-export far fa-file show-hover"
                data-export="widget_{{ widget.id }}"
                data-export-name="{{ widget.title|default(widget.name|trans) }}"
                title="{{ 'widget.pdf_export'|trans(domain='LleDashboardBundle') }}">
        </span>
    {% endif %}
{% endblock %}

{% block widget_edit_title_button %}
    <i class="fa fa-pen lle-dashboard-widget-edit show-hover"
            data-target="#lle-dashboard-input-{{ widget.id }}"
            title="{{ 'widget.editTitle'|trans(domain='LleDashboardBundle') }}">
    </i>
{% endblock %}

{% block widget_config_button %}
    {% if config_form is defined and config_form %}
        <span
                id="config_{{ widget.id }}"
                class="fa fa-cog widget-config show-hover"
                title="{{ 'widget.configWidget'|trans(domain='LleDashboardBundle') ~ ' "' ~ widget.name | trans ~ '"' }}">
        </span>
    {% endif %}
{% endblock %}

{% block widget_close_button %}
    <span
            id="widget_close_{{ widget.id }}"
            class="widget-close"
            data-widgetid="{{ widget.id }}">
        <span class="fa fa-trash show-hover" title="{{ 'widget.deleteWidget'|trans(domain='LleDashboardBundle') }}"></span>
    </span>
{% endblock %}
