<div
    class="grid-stack-item"
    id="widget_{{ widget.id }}"
    gs-id="{{ widget.id }}"
    gs-x="{{ widget.x }}"
    gs-y="{{ widget.y }}"
    gs-w="{{ widget.width }}"
    gs-h="{{ widget.height }}"
>
    <div class="card border-primary grid-stack-item-content">
        {% block card_header %}
            <div class="card-header text-primary">
                <div class="float-start">
                    <h5 class="card-title" data-widget-title-dblclick="true">
                        {% block widget_title %}
                            {{ widget.title | default(widget.name | trans) }}
                        {% endblock widget_title %}
                        {#
                        <span class="fa fa-pen show-hover" id="edit_{{ widget.id }}" title="{{ 'widget.editTitle'|trans(domain='LleDashboardBundle') }}"></span>
                        #}
                    </h5>
                </div>

                <div class="float-end">
                    {% block widget_buttons %}
                        {{ include('@LleDashboard/widget/includes/_buttons.html.twig') }}
                    {% endblock widget_buttons %}
                </div>
            </div>
        {% endblock card_header %}

        {% block card_body %}
            <div class="card-body">
                {% block widget_body %}{% endblock widget_body %}
            </div>
        {% endblock card_body %}

        {% block widget_config %}
            {{ include('@LleDashboard/widget/includes/_config.html.twig') }}
        {% endblock widget_config %}

        {% block card_footer %}
            {# <div class="card-footer"></div> #}
        {% endblock card_footer %}
    </div>
</div>
