<div
    class="grid-stack-item"
    id="widget_{{ widget.id }}"
    gs-id="{{ widget.id }}"
    gs-x="{{ widget.x }}"
    gs-y="{{ widget.y }}"
    gs-w="{{ widget.width }}"
    gs-h="{{ widget.height }}"
    data-ajax="{{ widget.supportsAjax }}"
>
    <div class="card {% block widget_class %}{% endblock%} border-primary grid-stack-item-content">
        {% block card_header %}
            <div class="card-header d-flex justify-content-between text-primary">
                <h5 class="card-title">
                    {% block widget_title %}
                        <input
                                id="lle-dashboard-input-{{ widget.id }}" class="lle-dashboard-input-title text-truncate w-100"
                                type="text" value="{{ widget.title | default(widget.name|trans) }}"
                                title="{{ 'widget.editTitle'|trans(domain='LleDashboardBundle') }}"
                                readonly="readonly" data-widgetid="{{ widget.id }}">
                    {% endblock widget_title %}
                </h5>

                <div class="my-1" data-html2canvas-ignore="true">
                    {% block widget_buttons %}
                        {% include('@LleDashboard/widget/includes/_buttons.html.twig') with {widget: widget} %}
                    {% endblock widget_buttons %}
                </div>
            </div>
        {% endblock card_header %}

        {% block card_body %}
            <div id="widget_body_{{ widget.id }}" class="card-body">
                {% block widget_body %}{% endblock widget_body %}
            </div>
        {% endblock card_body %}

        {% block widget_config %}
            {{ include('@LleDashboard/widget/includes/_config.html.twig') }}
        {% endblock widget_config %}

        {% block card_footer %}
            {# <div class="card-footer"></div> #}
        {% endblock card_footer %}
    </div>
</div>
