{% extends "base.html.twig" %}

{% block page_title %}{{ 'dashboard'|trans(domain='messages') }}{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/lledashboard/dashboard/app.css') }}"/>
{% endblock %}

{% block head_javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/lledashboard/dashboard/app.js') }}"></script>
{% endblock %}

{% block main %}
    {{ parent() }}
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-sm mb-2 mb-sm-0">
                <h2 class="page-header-title text-primary">
                    {{ 'dashboard' | trans }}
                    <i id="gs-spin" class="fas fa-spin"></i>
                </h2>
            </div>

            {# Widget choice #}
            <div class="col-sm-auto">
                <div class="dropdown">
                    <button id="dashboardDropdownWidget" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'available_widgets'|trans(domain='LleDashboardBundle') }}
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dashboardDropdownWidget">
                        {% for type, widget_type in widget_types %}
                            {% if widget_type.supports %}
                                <a class="dropdown-item add-widget" href="#" data-type="{{ widget_type.type }}">
                                    {{ widget_type.name|trans }}
                                </a>
                            {% endif %}
                        {% endfor %}
                        <a class="dropdown-item" href="{{ path('delete_my_widgets') }}">
                            {{ 'reset_widgets'|trans(domain='LleDashboardBundle') }}
                        </a>
                    </div>
                </div>
            </div>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-sm-auto">
                    <div class="dropdown">
                        <button id="dashboardDropdownAdmin" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'dashboard.administration'|trans(domain='LleDashboardBundle') }}
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dashboardDropdownAdmin">
                            <a class="dropdown-item" href="{{ path('lle_dashboard_dashboard_setmydashboardasdefault') }}">
                                {{ 'dashboard.administration.set_as_default'|trans(domain='LleDashboardBundle') }}
                            </a>
                            <a class="dropdown-item" href="{{ path('lle_dashboard_dashboard_deletealluserdashboards') }}">
                                {{ 'dashboard.administration.delete_all'|trans(domain='LleDashboardBundle') }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="grid-stack" data-gs-animate="yes" data-widgets="{{ widgets_data|json_encode|e('html_attr') }}"></div>

    <div style="height: 300px"></div>
{% endblock %}
